<div class="content">
    <a href="{{ path('profile', {'token': hub.user.token}) }}" class="ui image yellow label item margin">
        {{ hub.user.username }}
        <div class="detail">Author</div>
    </a>
    <a class="ui image blue label item margin">
        {{ hub.files|length }}
        <div class="detail">Files</div>
    </a>
    <a class="ui image blue label item margin">
        {{ hub.size(stockage) }}
        <div class="detail">Size</div>
    </a>
    <a class="ui image teal label item margin">
        {{ hub.updateDate|ago }}
        <div class="detail">Last update</div>
    </a>
</div>