{% extends "base.html.twig" %}
{% block title %}Toaster | {{ hub.name }} / {% endblock title %}
{% block og_title %}Toaster | {{ hub.name }} / {% endblock og_title %}
{% if hub.description %}
    {% block description %}{{ hub.description }}{% endblock description %}
{% endif %}
{% if hub.tags %}
    {% block keywords %}{% for tag in hub.tags %}{{ tag.data }},{% endfor %}{% endblock keywords %}
{% endif %}


{% block content %}
{% set more_results = (hub.files|length - files|length) %}
    <h2 class="ui dividing header">
        <a href="{{ path('hub_show', {'token': hub.token}) }}">
            {{ hub.name }}
        </a>
        /
    </h2>
    <div id="page" class="ui grid">
        <div class="ten wide column">
            {% if files|length %}
                <div class="ui one cards">
                    {% for file in files %}
                        {% include "file/_card.html.twig" %}
                    {% endfor %}
                </div>
            {% else %}
                <p>File(s) is not found.</p>
            {% endif %}
        </div>
        <div class="six wide column">
            <div class="ui sticky sticky_page" style="padding-top: 4rem;">
                {% if hub.description %}
                    <h3 class="ui dividing header">
                        Description
                    </h3>
                    {% include "hub/_description.html.twig" %}
                {% endif %}

                {% include "hub/_actions.html.twig" %}

                <h3 class="ui dividing header">
                    Informations
                </h3>
                {% include "hub/_info.html.twig" %}
                
                {% if hub.tags %}
                    <h3 class="ui dividing header">
                        Tags
                    </h3>
                    {% include "hub/_tags.html.twig" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
