<div id="card-{{ file.token }}" class="card">
    {% set image = 'image/' in file.metadata.mimeType %}
    {% if image %}
        <a href="{{ path('file_show', {'token': file.token}) }}" class="image">
            <img class="lozad-{{file.token}} w-100" style="height: 120px;" data-src="{{ path('file_download', {'token': file.token}) }}" alt="{{ file.tags|join(' ') }}">
        </a>
        <script>
            lazyLoad('{{ file.token }}')
            $(window).scroll(function() {
                lazyLoad('{{ file.token }}')
            });
        </script>
    {% endif %} 
    <div class="content" style="word-wrap: anywhere;">
        <a href="{{ path('file_show', {'token': file.token}) }}">
            <div class="header ui medium href">
                {{ file.filename }}
            </div>
            <div class="meta">
                {{ file.metadata.mimeType }}
            </div>
        </a>
    </div>
    <div class="extra content">
        <div class="left floated" style="margin: 0.5rem;">
            <a href="{{ path('profile', {'token': file.user.token}) }}">
                <i class="user outline icon"></i><strong>{{ file.user.username }}</strong>
            </a>
        </div>
        <div class="right floated ui buttons">
            <a href="{{ path('file_show', {'token': file.token}) }}#comments"
                class="right floated ui icon button basic">
                {% if file.comments|length %}
                    {% if file.comments %}
                        {{ file.comments|length }}
                    {% endif %}
                {% endif %}
                <i class="comments outline icon blue"></i>
            </a>
            <a {% if app.user %} href="{{ path('like', {'type': 'file', 'token': file.token}) }}" {% endif %}
                class="right floated ui icon button basic">
                {% set liked = false %}
                {% for like in file.likes %}
                    {% if app.user == like.user %}
                        {% set liked = true %}
                    {% endif %}
                {% endfor %}
                {% if file.likes|length %}
                    {{ file.likes|length }}
                {% endif %}
                <i class="heart {% if not liked %}outline{% endif %} icon red"></i>
            </a>
        </div>
    </div>
</div>