<div class="ui card w-100">
    {% if 'image/' in file.metadata.mimeType %}
        <a href="{{ path('file_download', {'token': file.token}) }}" data-lightbox="image-{{file.token}}" data-title="{{file.description}}" style="visibility: none;height: 0px;">
            <img 
                class="w-100" 
                src="{{ path('file_download', {'token': file.token}) }}" 
                alt="{{ file.tags|join(' ') }}"
                style="background-color: #ebf4ff;">
        </a>
    {% elseif 'text/' in file.metadata.mimeType %}
        {# if file size < 1Mb #}
        {% if file.size(false, stockage) < 1000000 %} 
            <textarea id="code" name="code">{{ file.content(stockage) }}</textarea>
            <script>
                var editor2 = CodeMirror.fromTextArea(document.getElementById("code"), {
                    extraKeys: {"Ctrl-Space": "autocomplete"},
                    lineNumbers: true,
                    lineWrapping: true,
                    readOnly: true,
                    mode: "{{ file.metadata.mimeType }}",
                })
            </script>
        {% endif %}
        
    {% elseif 'video/' in file.metadata.mimeType %}
        <video width="100%" height="50%" controls>
            <source src="{{ path('file_download', {'token': file.token}) }}" type="video/mp4">
            <source src="{{ path('file_download', {'token': file.token}) }}" type="video/ogg">
        </video>
    {% endif %} 
</div>