<form id="file_submit" class="ui form field CodeMirror-debug" action="{{ path('upload_file') }}" method="POST" enctype="multipart/form-data">
    <label for="files_input">Choose File(s)*</label>
    <div class="ui field input require">
        <input onchange="checkInputs();" id="files_input" type="file" name="files[]" multiple required="true">
    </div>
    <div id="filesDescription" class="field" style="display: none;">
        <label for="files_description">Files Description</label>
        <textarea id="files_description" name="files_description" required="false"></textarea>
        <script>
            var textarea_description = CodeMirror.fromTextArea(document.getElementById("files_description"), {
                mode: {
                    name: "gfm",
                    tokenTypeOverrides: {
                        emoji: "emoji"
                    }
                },
                scrollbarStyle: "simple",
                lineNumbers: true,
                theme: "default"
            });
            textarea_description.setSize("100%", "100%");
        </script>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="hubs_input">Hub(s)*</label>
            <div class="ui left icon input">
                <input onkeyup="checkInputs();" id="hubs_input" class="w-100" name="hubs" type="text" required="true" placeholder="Hubs...">
                <i class="tags icon"></i>
            </div>
        </div>
        <div class="field">
            <label for="tags_input">Add Tag(s)</label>
            <div class="ui left icon input">
                <input onkeyup="checkInputs();" id="tags_input" class="w-100" name="tags" type="text" required="true" placeholder="Tags...">
                <i class="tags icon"></i>
            </div>
        </div>
    </div>
</form>
<script>
    // Form input hubs
    var hubs = new Array();
    {% for hub in hubs %}
        hubs.push({
            value: '{{ hub.name }}',
            text: '{{ hub.name }}',
            selected: false
        });
    {% endfor %}
    var hubs_input = $('#hubs_input').selectize({
        delimiter: ',',
        persist: true,
        create: true,
        options: hubs,
        onChange: function (value) {
            checkInputs();
        }
    });

    // Form input tags
    var tags = new Array();
    {% for tag in tags %}
        tags.push({
            value: '{{ tag.name }}',
            text: '{{ tag.name }}',
            selected: false
        });
    {% endfor %}
    $('#tags_input').selectize({
        delimiter: ',',
        persist: true,
        create: true,
        options: tags,
    });

    checkInputs();

    function checkInputs() {
        var button = true;
        var form = "form#file_submit";

        var files = $(form + ' input#files_input').val();
        if (!$.trim(files).length) {
            var button = false;
            filesDescription(false);
        } else {
            filesDescription(true);
        }
        
        var hubs_input = $('#hubs_input').val();
        if (!$.trim(hubs_input).length) {
            var button = false;
        }
        
        var tags_input = $('#tags_input').val();

        //if ($.trim(hub).length > 0) {
        //   hubDescription(true);
        //} else {
        //    hubDescription(false);    
        //}
        
        // Form is valid!
        setSubmitButton(button);
    }

    function filesDescription(bool) {
        if (bool) {
            $("div#filesDescription").show('slow');
        } else {
            $("div#filesDescription").hide('slow');
        }
    }

    function hubDescription(bool) {
        if (bool) {
            $("div#hubDescription").show('slow');
        } else {
            $("div#hubDescription").hide('slow');
        }
    }

    function setSubmitButton(bool) {
        var button = "div#file_submit_button";
        if (bool) {
            $(button).removeClass('disabled');
        } else {
            $(button).addClass('disabled');
        }
    }

    function submitFiles() {
        $('button#button_files_modal').addClass('disabled');
        $('div#files_modal_loading').removeClass('hidden');
        $('form#file_submit').submit();
    }
</script>