<div class="content">
    <a href="{{ path('profile', {'token': file.user.token}) }}" class="ui image yellow label item margin">
        {{ file.user.username }}
        <div class="detail">Author</div>
    </a>
    <a href="{{ path('hub_show', {'token': file.hub.token}) }}" class="ui image blue label item margin">
        {{ file.hub.name }}
        <div class="detail">Hub</div>
    </a>
    <a class="ui image blue label item margin">
        {{ file.size(true, stockage) }}
        <div class="detail">Size</div>
    </a>
    <a class="ui image violet label item margin">
        {{ file.metadata.extension }}
        <div class="detail">Extension</div>
    </a>
    <a class="ui image violet label item margin">
        {{ file.metadata.mimeType }}
        <div class="detail">Mime Type</div>
    </a>
    <a class="ui image teal label item margin">
        {{ file.updateDate|ago }}
        <div class="detail">Last update</div>
    </a>
</div>