{% extends "base.html.twig" %}
{% block title %}Toaster | {{ file.hub.name }} / {{ file.filename }}{% endblock title %}
{% block og_title %}Toaster | {{ file.hub.name }} / {{ file.filename }}{% endblock og_title %}
{% if file.description %}
    {% block description %}{{ file.description }}{% endblock description %}
{% endif %}
{% if file.tags %}
    {% block keywords %}{{ file.tags|join(', ')}}{% endblock keywords %}
{% endif %}
{% if 'image/' in file.metadata.mimeType %}
    {% block og_image %}{{ path('file_download', {'token': file.token}) }}{% endblock og_image %}
{% endif %}

{% block content %}
    <h2 class="ui dividing header">
        <a href="{{ path('hub_show', {'token': file.hub.token}) }}">{{ file.hub.name }}</a>
        / {{ file.filename }}
    </h2>
    <div id="page" class="ui grid">
        <div class="ten wide column">
            {% if file.description %}
                {% include "file/_description.html.twig" %}
            {% endif %}
            {% include "file/_content.html.twig" %}
        </div>
        <div class="six wide column">
            <div class="ui sticky sticky_page">
                {% include "file/_actions.html.twig" %}
                
                <h3 class="ui dividing header">
                    Informations
                </h3>
                {% include "file/_info.html.twig" %}

                {% if file.tags|length %}
                    <h3 class="ui dividing header">
                        Tags
                    </h3>
                    {% include "file/_tags.html.twig" %}
                {% endif %}
                
                <h3 id="comments" class="ui dividing header">
                    Comments
                </h3>
                {% include "file/_comments.html.twig" %}
            </div>
        </div>
    </div>
{% endblock content %}