<div class="ui menu sticky_menu">
    <a href="{{ path('app') }}" class="header item {% if app.request.get('_route') == 'app' %}active{% endif %}">Toaster</a>
    <a href="{{ path('hub') }}" class="item {% if app.request.get('_route') starts with 'hub' %}active{% endif %}">Hubs</a>
    <a href="{{ path('tag') }}" class="item {% if app.request.get('_route') starts with 'tag' %}active{% endif %}">Tags</a>
    <div class="right menu">
        {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
        {# {% if app.request.get('_route') == 'hub_show' %}
            <div class="item">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                    <button class="ui button">Submit</button>
                </div>
            </div>
        {% endif %} #}
        {% if app.user %}
            <div class="ui dropdown item {% if app.request.get('_route') starts with 'profile' %}active{% endif %}">
                <i class="user icon"></i> {{ app.user.username }} <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{{ path('profile') }}" class="item">Profile</a>
                    <a href="{{ path('app_logout') }}" class="item">
                        Logout
                    </a>
                </div>
            </div>
            <button onclick="$('#send_files.ui.modal').modal('show');" class="item ui button">
                <div class="ui positive right labeled icon">
                    <i class="upload icon"></i> Send File(s)
                </div>
            </button>
            <div id="send_files" class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                    Send File(s)
                </div>
                <div class="content">
                    <div class="description"> 
                        <div class="ui header">
                            You can submit files in one or more different storage(s) via this form.
                        </div>
                        <p>
                            It may be useful to duplicate storage points for your data to avoid any loss due to misuse, for example.
                        </p>
                        {{ render(controller('App\\Controller\\UploadController::form')) }}
                    </div>
                </div>
                <div class="actions">
                    <div class="ui red deny button">
                        Nope
                    </div>
                    <div id="file_submit_button" type="button" onclick="$('form#file_submit').submit();" class="ui positive right labeled icon button disabled">
                        Send
                        <i class="upload icon"></i>
                    </div>
                </div>
            </div>
        {% else %}
            <button onclick="$('#registration_form.ui.modal').modal('show');" class="item ui button">
                <div class="ui positive right labeled icon">
                    <i class="user plus icon"></i> Registration
                </div>
            </button>
            <button onclick="$('#login_form.ui.modal').modal('show');" class="item ui button">
                <div class="ui positive right labeled icon">
                    <i class="user icon"></i> Login
                </div>
            </button>
            {# Login Modal #}
            <div id="login_form" class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                    Login
                </div>
                <div class="content">
                    {{ render(controller('App\\Controller\\LoginController::login')) }}
                </div>
            </div>
            {# Registration Modal #}
            <div id="registration_form" class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                    Registration
                </div>
                <div class="content">
                    {{ render(controller('App\\Controller\\RegistrationController::register')) }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
