{{ form_start(registrationForm, {'action': path('app_register')}) }}
    <div class="ui form">
        <div class="two fields">
            <div class="field ui input">
                {{ form_widget(registrationForm.username) }}
            </div>
            <div class="field ui input">
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="field ui checkbox">
            {{ form_widget(registrationForm.agreeTerms) }} 
            <label for="registration_form_agreeTerms">You should agree to our terms.</label>
        </div>
    
        <button class="ui button basic blue" type="submit">
            Register
        </button>
    </div>
{{ form_end(registrationForm) }}
