{{ form_start(registrationForm, {'action': path('app_register')}) }}
    <div class="ui form">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="two fields">
            <div class="field ui input">
                {{ form_widget(registrationForm.username) }}
            </div>
            <div class="field ui input">
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="field ui checkbox">
            {{ form_widget(registrationForm.agreeTerms) }} 
            <label for="registration_form_agreeTerms">You should agree to our terms.</label>
        </div>

        <div class="ui divider"></div>
        <button class="ui right floated button basic green" type="submit" style="margin-bottom: 1rem;">
            Register
        </button>
    </div>
{{ form_end(registrationForm) }}
