<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Toaster{% endblock %}</title>
        <meta name="description" content="{% block description %}The social network of file sharing{% endblock description %}"> 
        <meta name="keywords" content="{% block keywords %}Toaster, file sharing, social network, images, videos, files{% endblock keywords %}"> 

        <meta property="og:title" content="{% block og_title %}Toaster{% endblock og_title %}" />
        {% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
        <meta property="og:url" content="{{ currentPath }}" />
        <meta property="og:image" content="{% block og_image %}{{ asset('images/logo.png') }}{% endblock og_image %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Semantic #}
        <link rel="stylesheet" type="text/css" href="{{ asset('semantic/semantic.min.css') }}">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="{{ asset('semantic/semantic.min.js') }}"></script>

        {# CodeMirror #}
        <link rel="stylesheet" href="{{ asset('codemirror/codemirror.css') }}">
        <script src="{{ asset('codemirror/codemirror.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('codemirror/addon/scroll/simplescrollbars.css') }}">
        <script src="{{ asset('codemirror/addon/scroll/simplescrollbars.js') }}"></script>
        <script src="{{ asset('codemirror/addon/mode/overlay.js') }}"></script>
        <script src="{{ asset('codemirror/mode/xml/xml.js') }}"></script>
        <script src="{{ asset('codemirror/mode/markdown/markdown.js') }}"></script>
        <script src="{{ asset('codemirror/mode/gfm/gfm.js') }}"></script>

        {# Selectize (input tags) #}
        <link rel="stylesheet" href="{{ asset('selectize/css/selectize.css') }}">
        <link rel="stylesheet" href="{{ asset('selectize/css/selectize.default.css') }}">
        <script src="{{ asset('selectize/js/standalone/selectize.js') }}"></script>
        
        {# Custom css #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('images/logo.ico') }}">
        {% block stylesheets %}{% endblock %}

        <!-- Image Lazy Loading -->
        {# https://github.com/ApoorvSaxena/lozad.js #}
        <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

        <!-- Image LightBox -->
        {# https://lokeshdhakar.com/projects/lightbox2/ #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/lightbox.css') }}">
        <script src="{{ asset('js/lightbox.js') }}"></script>
        

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101987237-8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101987237-8');
        </script>

        <script src="{{ asset('js/app.js') }}"></script>
    </head>
    <body id="body">
        <div class="ui container">
            {% include "_menu.html.twig" %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="ui warning message">
                    <div class="header">
                        Error!
                    </div>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    Evolution & Migration
                </div>
                <p>
                    Our accommodation service is brand new and we thank you for being part of the adventure. <br> 
                    But for technical reasons Toaster will soon evolve to another form of platform. <br>
                    This one will be more focused on file storage with a public and private part. <br>
                    But don't worry, the spirit remains the same as before. <br>
                    <strong>You can follow us on <a href="htpps://cloudfile.tech">CloudFile</a>, more torrents <a href="https://cloudfile.tech/public/5ec8053a7ed6e">here</a>.</strong>
                </p>
            </div>
            {% block content %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
