<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Toaster{% endblock %}</title>
        <meta name="description" content="{% block description %}Toaster - The social network of file sharing{% endblock description %}"> 
        <meta name="keywords" content="{% block keywords %}Toaster, file sharing, social network, images, videos, files{% endblock keywords %}"> 

        <meta property="og:title" content="{% block og_title %}Toaster{% endblock og_title %}" />
        {% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
        <meta property="og:url" content="{{ currentPath }}" />
        <meta property="og:image" content="{% block og_image %}{{ asset('images/logo.png') }}{% endblock og_image %}" />
        
        {# Semantic #}
        <link rel="stylesheet" type="text/css" href="{{ asset('semantic/semantic.min.css') }}">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="{{ asset('semantic/semantic.min.js') }}"></script>

        {# CodeMirror #}
        <link rel="stylesheet" href="{{ asset('codemirror/codemirror.css') }}">
        <script src="{{ asset('codemirror/codemirror.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('codemirror/addon/scroll/simplescrollbars.css') }}">
        <script src="{{ asset('codemirror/addon/scroll/simplescrollbars.js') }}"></script>
        <script src="{{ asset('codemirror/addon/mode/overlay.js') }}"></script>
        <script src="{{ asset('codemirror/mode/xml/xml.js') }}"></script>
        <script src="{{ asset('codemirror/mode/markdown/markdown.js') }}"></script>
        <script src="{{ asset('codemirror/mode/gfm/gfm.js') }}"></script>

        {# Selectize (input tags) #}
        <link rel="stylesheet" href="{{ asset('selectize/css/selectize.css') }}">
        <link rel="stylesheet" href="{{ asset('selectize/css/selectize.default.css') }}">
        <script src="{{ asset('selectize/js/standalone/selectize.js') }}"></script>
        
        {# Custom css #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('images/logo.ico') }}">
        {% block stylesheets %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101987237-8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101987237-8');
        </script>

    </head>
    <body id="body">
        <div class="ui container">
            {% include "_menu.html.twig" %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="ui warning message">
                    <div class="header">
                        Error!
                    </div>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>

        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
